.Single
  .Single_header
    %h1.Single_header_icon
      =link_to image_tag("/assets/images/logo.png",alt:"flema",class:"icon_img"),"/"
    %nav.Single_header_singup_bar
      %ol.clearfix
        %li.active
          会員情報
        .progress_statrs
  .Single_main
    %section.Single_main_container
      %h2.Single_main_container_head
        商品送付先住所情報
      .Single_main_container_warrap
        .Single_main_container_warrap_content
          .Single_main_container_warrap_content_group
            .Form_info
              %label.Form_info_name
                送付先氏名(全角)
              %span.Form_info_require
                必須
            %input.Form_info_index-two(type="text" placeholder="例）鈴木")/
            %input.Form_info_index-two(type="text" placeholder="例）太朗")/
            %ul.has_error_test
              %li.has_error
                姓を入力してください
              %li.has_error
                名を入力してください
            .Form_info
              %label.Form_info_name
                送付先氏名(全角)
              %span.Form_info_require
                必須
            %input.Form_info_index-two(type="text" placeholder="例）スズキ")/
            %input.Form_info_index-two(type="text" placeholder="例）タロウ")/
            %ul.has_error_test
              %li.has_error
                姓カナを入力してください
            .Form_info
              %label.Form_info_name
                郵便番号
              %span.Form_info_require
                必須
            %input.Form_info_index(type="text" placeholder="例）000-0000")/
            %ul.has_error_test
              %li.has_error
                郵便番号を入力して下さい
            .Form_info
              %label.Form_info_name
                都道府県
              %span.Form_info_require
                必須
            %input.Form_info_index(type="text" placeholder="例）○ ○県")/
            %ul.has_error_test
              %li.has_error
                都道府県を入力して下さい
            .Form_info
              %label.Form_info_name
                市区町村
              %span.Form_info_require
                必須
            %input.Form_info_index(type="text" placeholder="例）○ ○市")/
            %ul.has_error_test
              %li.has_error
                市区町村を入力して下さい
            .Form_info
              %label.Form_info_name
                番地
              %span.Form_info_require
                必須
            %input.Form_info_index(type="text" placeholder="例）○ ○番地")/
            %ul.has_error_test
              %li.has_error
                番地を入力して下さい
            .Form_info
              %label.Form_info_name
                マンション名やビル名、その部屋番号
              %span.Form_info_require
                任意
            %input.Form_info_index(type="text" placeholder="例）○ビル○番")/
            %ul.has_error_test
              %li.has_error
                マンション名やビル名、その部屋番号を入力して下さい
            .Form_info
              %label.Form_info_name
                お届け先の電話番号
              %span.Form_info_require
                任意
            %input.Form_info_index(type="text" placeholder="例）000-0000-0000")/
            %ul.has_error_test
              %li.has_error
                お届け先の電話番号を入力して下さい
          .Single_main_container_warrap_content_group
            = link_to accounts_path do
              %input(type="submit" value="次へ" class="Single_main_container_warrap_content_group_submit-btn")/
  .Single_footer
    =link_to image_tag("/assets/images/logo-white.png",alt:"flema",class:"icon_imgRight"),"/"
    %p.Single_footer_logo-text
      ©︎Furima, Inc
