.notifications{
  width: 100%;
  position: absolute;
}

.notice{
  text-align: center;
  width: 100%;
  background-color: turquoise;
  color: #eee;
}

.alert{
  background-color: tomato;
  width: 100%;
  text-align: center;
  color: #eee;
}