$cturquoise: turquoise;
$cblack: black;
$cwhite: white;

.ButtonBox{
  height: 50px;
}
.tk_btn{
  width: 100%;
  padding: 10px;
  background-color: $cturquoise;
  border: none;
  color: $cwhite;
  border-radius: 4px;
  box-shadow: 0 4px 0px 0px rgba(0,0,0, 0.4);
  outline: none;
}

.wrapper{
  width: 100%;
  height: 100%;
}
.Top-Content{
  &__logo{
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
}

.Confirmation-Content{
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
  height: 100%;
  text-align: center;
  padding: 50px 100px;
  background-color: #fff;
  &__title{
    width: 100%;
    font-weight: bold;
    font-size: 30px;
  }

  &__group{
    margin-top: 40px;
    width: 100%;
  }
  &__list{
    padding: 30px 10px;
    border-top: 2px solid $cturquoise;
    display: flex;
    justify-content: space-between;
  }
  &__item-image > img{
    width: 100%;
    height: auto;
  }
  &__leftfield{
    & > p{
      font-size: 20px;
      font-weight: 800;
    }
  }
  &__rightfield{
    position: relative;
    & > p{
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__item-price{
    position: absolute;
    bottom: 0;
    right: 0;

    & > span{
      font-weight: bold;
    }
  }
  &__btn{
    &:hover{
      opacity: 0.8;
    }
    &:active{
      box-shadow: none;
      margin-top: 4px;
      opacity: 1;
    }
  }
}
.CardInfo{
  text-align: left;
  &__company > img{
    margin-top: 0;
  }
}
.AddressInfo{
  text-align: left;
}

.Footer-Content{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}