:root{
  cursor: auto;
}

.wrraper_single_index{
    height: 100%;
    width: 100%;
    min-height: 100%;
    background-color: rgb(235,235,235);
  @media screen and (min-width: 768px){
    .Single{
      padding: 0 0 220px 0;
      &_header{
        display: flex;
          justify-content: space-evenly;
        height: 128px;
        text-align: center;
        &_icon{
          margin-left: 170px;
        }
        &_singup_bar{
          margin-right: 130px;
        }
      }
      &_main{
        display: block;
        &_container{
          width: 700px;
          margin: 0 auto;
          background-color: white;

          &_head{
            font-size: 20px;
            font-weight: bold;
            padding: 32px;
            border-bottom: 1px solid rgb(175, 175, 175);
            text-align: center;
          }
          &_warrap{
            padding: 24px 16px 40px 16px;
            &_content{
              margin: 0 auto;
              &_group{
                max-width: 343px;
                margin: auto;
                &_submit-btn{
                  margin-top: 24px;
                  background-color: rgb(117, 211, 235);
                  border: 1px solid rgb(117, 211,235);
                  display: block;
                  width: 100%;
                  line-height: 48px;
                  font-size: 14px;
                  border-radius: 4px;
                }
              }
            }
          }
        }
      }
      &_footer{
        width: 456px;
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1;
        padding: 40px 0;
        text-align: center;
        &_logo-text{
          margin-top: 8px;
          font-size: 13px;
        }
      }
    }

    .icon_imgHead{
      height: 49px;
      width: 185px;
      margin-top: 40px;
    }

    .icon_imgRight{
      display: block;
      color: #333;
      width: 97px;
      height: 40px;
      margin: 40px auto 0;
    }
    .clearfix{
      margin: 56px 180px 0 0;
    }
    .active{
      font-size: 15px;
      color: rgb(117, 211, 235);
      border-bottom: 3px solid;
      position: absolute;
    }

    .Form_info{
      margin-top: 24px;
      &_name{
        font-size: 13px;
        font-weight: 600;
      }
      &_require{
        background-color: red;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: white;
        font-size: 12px;
        vertical-align: top;
      }
      &_index{
        margin-top: 8px;
        height: 30px;
        width: 100%;
        padding: 10px 16px 8px 0;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      &_index-two{
        height: 45px;
        width: calc(50% - 7px);
        margin: 0 auto;
        border: 1px solid #ccc;
      }
      &_text{
        font-size: 13px;
        line-height: 1.5;
        margin: 10px 30px 10px 0;
        opacity: 0.5;
      }
      &_id-left{
        font-weight: bold;
      }
      &_id-info{
        font-size: 13px;
      }
      &_select_years{
        width: 76px;
        display: inline-block;
        margin-top: 8px;
        position: relative;
        background: white;   
      }
      &_times{
        margin-top: 8px;
        line-height: 1.5;
        color: #888;
      }
    }

    .has_error_test{
      margin-bottom: 15px;
    }

    .Checkbox_default{
      margin-right: 120px;
    }
    .icon_check{
      height: 20px;
      width: 20px;
      position: absolute;
    }

    .reveal_password{
      font-size: 14px;
      padding: 5px 8px 0 30px;
    }

    .has_error{
      color: red;
      line-height: 1.5;
      font-size: 14px;
      margin-right: 106px;
      &_mail{
        color: red;
        line-height: 1.5;
        font-size: 14px;
        margin-right: 95px;
      }
        &_password{
          color: red;
          line-height: 1.5;
          font-size: 14px;
          margin-right: 120px;
        }
    }
    .fa.fas.fa-chevron-down{
      right: 12px;
      position: absolute;
      top: 50%;
      z-index: 2;
      font-size: 13px;
      color: #888;
    }
    .Years{
      padding: 0 10px;
      position: relative;
      z-index: 2;
      height: 48px;
      width: 76px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
    }
    .japan-select{
      margin: 0 2px;
    }
  }
}