.Sell {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  &_warrap {
    padding: 0 0 40px 0;
    &_index {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      @media (min-width: 768px) {
        &_header {
          -webkit-box-align: center;
          height: 128px;
          padding-top: 40px;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
          &_icon-img {
            height: 49px;
            width: 185px;
            vertical-align: middle;
          }
        }
        &_main {
          background-color: white;
          min-height: 100vh;
          max-width: 700px;
          width: 100%;
          margin: 0 auto;
          &_center {
            position: relative;
            min-height: 100vh;
            margin: 0 auto;
            &_navi {
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;
              background-color: rgba(0, 0, 0, 0.6);
              display: flex;
              left: 0px;
              min-height: 100vh;
              position: fixed;
              opacity: 0;
              top: 0px;
              visibility: hidden;
              width: 100vw;
              z-index: 10;
              padding: 0px 16px;
              transition: all 0.3s ease-out 0s;
            }
            &_content {
              padding: 40px;
              &_show {
                color: rgb(136, 136, 136);
                font-size: 14px;
                font-weight: 6000;
                line-height: 1.4em;
                margin-bottom: 24px;
              }
              &_box {
                margin: 0;
                &_body {
                  &_photos {
                    margin-top: 15px;
                    &_popup {
                      color: red;
                      font-size: 14px;
                      line-height: 1.4em;
                      margin: 4px 0 0 0;
                    }
                    &_fontFamily {
                      align-items: center;
                      display: flex;
                      &_ex {
                        margin-right: 8px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.4em;
                        &_note {
                          font-size: 12px;
                          padding: 0 4px;
                          background-color: red;
                          color: white;
                          border-radius: 2px;
                          display: inline-block;
                          font-style: normal;
                          font-weight: 600;
                          line-height: 1.4em;
                          margin: 0;
                        }
                      }
                      &_any {
                        margin-right: 8px;
                        font-size: 14px;
                        font-weight: 6000;
                        line-height: 1.4em;
                        &_note {
                          font-size: 12px;
                          padding: 0 4px;
                          background-color: #bfbfbf;
                          color: #fff;
                          border-radius: 2px;
                          display: inline-block;
                          font-style: normal;
                          font-weight: 600;
                          line-height: 1.4em;
                          margin: 0;
                        }
                      }
                    }
                  }
                  &_contents {
                    margin-top: 16px;
                    align-items: center;
                    display: inline-flex;
                    width: 100%;
                    &_filed {
                      display: inline-block;
                      position: relative;
                      width: inherit;
                      &_text {
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        font-family: inherit;
                        font-size: inherit;
                        height: 48px;
                        margin: 0;
                        outline: none;
                        padding: 0 16px;
                        width: inherit;
                      }
                      &_area {
                        margin-top: 16px;
                        width: 100%;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        color: #222;
                        font-size: 16px;
                        margin: 0;
                        outline: none;
                        padding: 13px 16px;
                        resize: vertical;
                        vertical-align: middle;
                      }
                      &_category {
                        -webkit-appearance: name;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        color: #222;
                        font-size: 16px;
                        height: 48px;
                        line-height: 1;
                        margin: 0;
                        outline: none;
                        padding: 0 56px 0 16px;
                        width: 100%;
                      }
                    }
                  }
                  &_up {
                    margin-top: 16px;
                    font-size: 14px;
                    line-height: 1.4em;
                  }
                  &_imgs {
                    margin-top: 16px;
                    &_warraps {
                      display: flex;
                      flex-wrap: wrap;
                      margin: -8px -4px 16px -4px;
                      &_indexs {
                        height: 150px;
                        margin-top: 8px;
                        flex: 1 1 0%;
                        padding: 0px 4px;
                        &_in {
                          align-content: center;
                          -webkit-box-align: center;
                          align-items: center;
                          background-color: rgb(245, 245, 245);
                          cursor: pointer;
                          display: flex;
                          height: 100%;
                          flex-wrap: wrap;
                          -webkit-box-pack: center;
                          justify-content: center;
                          position: relative;
                          border-width: 1px;
                          border-style: dashed;
                          border-color: rgb(204, 204, 204);
                          border-image: initial;
                          transition: all 0.5s ease-out 0s;
                          &_label {
                            height: 100%;
                            width: 100%;
                            padding: 20px 0;
                            &_img {
                              font-family: inherit;
                              font-size: 100%;
                            }
                            &_info {
                              font-size: 12px;
                              line-height: 1.4em;
                              width: 100%;
                            }
                          }
                        }
                      }
                    }
                  }
                  &_info {
                    margin-top: 16px;
                    text-align: right;
                    color: #888;
                    font-size: 12px;
                    line-height: 1.4em;
                  }
                }
              }
            }
            &_border {
              border-top-color: #efefef;
              border-left: 0 solid #efefef;
              border-bottom: 0 solid #efefef;
              border-right: 0 solid #efefef;
              border-top-style: solid;
              margin: 0;
            }
            &_price {
              padding: 40px 40px 0;
              &_show {
                color: rgb(136, 136, 136);
                font-size: 13px;
                font-weight: 600;
                line-height: 1.4em;
                margin-bottom: 24px;
              }
              &_box {
                margin-bottom: 40px;
                &_body {
                  padding-top: 0px;
                  padding: 12px 0;
                  -webkit-box-align: center;
                  align-items: center;
                  box-sizing: content-box;
                  display: flex;
                  height: 46px;
                  &_photos {
                    margin-right: auto;
                    white-space: nowrap;
                    &_fontFamily {
                      align-items: center;
                      display: flex;
                      &_ex {
                        margin-right: 8px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.4em;
                        &_note {
                          font-size: 12px;
                          padding: 0 4px;
                          background-color: red;
                          color: white;
                          border-radius: 2px;
                          display: inline-block;
                          font-style: normal;
                          font-weight: 600;
                          line-height: 1.4em;
                          margin: 0;
                        }
                      }
                    }
                  }
                  &_doll {
                    font-size: 14px;
                    margin-right: 8px;
                  }
                  &_right {
                    align-items: center;
                    display: inline-flex;
                    width: 100%;
                    max-width: 285px;
                    color: black;
                    font-size: 16px;
                    &_in {
                      display: inline-block;
                      position: relative;
                      width: inherit;
                      &_num {
                        text-align: right;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        font-family: inherit;
                        font-size: inherit;
                        height: 48px;
                        margin: 0;
                        outline: none;
                        padding: 0 16px;
                        width: inherit;
                      }
                    }
                  }
                  &_tax {
                    margin-right: auto;
                    white-space: nowrap;
                    color: #333333;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 1.4em;
                    margin-bottom: 24px;
                  }
                  &_solid {
                    font-size: 14px;
                  }
                }
              }
            }
            &_ex {
              width: 360px;
              margin: 0px auto 32px;
              &_do {
                background-color: red;
                color: white;
                width: 100%;
                font-size: 17px;
                min-height: 48px;
                padding: 0 24px;
                border-radius: 4px;
                border: 1px solid transparent;
                display: inline-block;
                font-weight: 600;
              }
              &_back {
                margin-top: 24px;
                display: flex;
                width: 100%;
                height: 20px;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                &_in {
                  color: #0095ee;
                  text-decoration: none;
                  word-break: keep-all;
                }
              }
            }
          }
        }
      }
      &_footer {
        padding: 40px 0 41px;
        margin-top: auto;
        text-align: center;
        &_img {
          height: 40px;
          width: 97px;
          margin-bottom: 8px;
          vertical-align: middle;
        }
        &_icon {
          font-size: 12px;
        }
      }
    }
  }
}
#image-box {
  height: 100%;
}
.js-file {
  display: none;
}
