.wrraper_single_index
  .Single
    .Single_header
      %h1.Single_header_icon
        =link_to image_tag("/assets/images/logo.png",alt:"flema",class:"icon_imgHead"),"/"
      %nav.Single_header_singup_bar
        %ol.clearfix
          %li.active
            会員情報
          .progress_statrs
    .Single_main
      %section.Single_main_container
        %h2.Single_main_container_head
          ユーザー情報入力
        .Single_main_container_warrap
          .Single_main_container_warrap_content
            .Single_main_container_warrap_content_group
              .Form_info
                %label.Form_info_name
                  ニックネーム
                %span.Form_info_require
                  必須
              %input.Form_info_index(type="text" placeholder="例）フリマ太朗")/
              %ul.has_error_test
                %li.has_error
                  ニックネームを入力して下さい
              .Form_info
                %label.Form_info_name
                  メールアドレス
                %span.Form_info_require
                  必須
              %input.Form_info_index(type="text" placeholder="PC・携帯とちらでも可")/
              %ul.has_error_test
                %li.has_error_mail
                  メールアドレスを入力して下さい
              .Form_info
                %label.Form_info_name
                  パスワード
                %span.Form_info_require
                  必須
              %input.Form_info_index(type="text" placeholder="7文字以上の半角数字")/
              %ul.has_error_test
                %li.has_error_password
                  パスワードを入力して下さい
                %p.Form_info_text
                  ※ 英字と数字の両方を含めて設定してください
                .Checkbox
                  .Checkbox_default
                    %input(type="checkbox" class="icon_check")/
                    %label.reveal_password
                      パスワードを表示する
              .Form_info
                %h3.Form_info_id-left
                  本人確認
                %p.Form_info_id-info
                  安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。他のお客様に公開されることはありません。
            .Single_main_container_warrap_content_group
              = link_to addresses_path do
                %input(type="submit" value="次へ" class="Single_main_container_warrap_content_group_submit-btn")/
    .Single_footer
      =link_to image_tag("/assets/images/logo-white.png",alt:"flema",class:"icon_imgRight"),"/"
      %p.Single_footer_logo-text
        ©︎Furima, Inc